<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usersSection" type="FilmBookmarkService.Core.UserConfigurationSection, FilmBookmarkService.Core" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="user_christoph.pangerl" value="christoph.pangerl" />
    <add key="password" value="6HYYUxUKkmR1mjp0ow2j8c98K1LGjgvPgc/JEbSkVV5dpceWseDl74iUv+okjTdogGUoHrIgRFxDFZPAQlYvIg==" />
  </appSettings>

  <usersSection>
    <users>
      <user username="christoph.pangerl"
            password="6HYYUxUKkmR1mjp0ow2j8c98K1LGjgvPgc/JEbSkVV5dpceWseDl74iUv+okjTdogGUoHrIgRFxDFZPAQlYvIg=="/>

      <user username="christian.prein"
            password="FizB5mMz4C5UhVG4V7bNthCh1yolZnJ3JQoijFqpWPBv7YaRILvUXT0QzI9pDVFpjRH2ohKonTM38+lRHobw6Q=="/>

      <user username="doris.pangerl"
            password="uSPgYwV1VHtA0MKIOWYHSuaMWKazaA1/IajAcJjSahaL6k6XXCNzD82Wr4qUcSDuhJGhqh5E/o8vIDC8HKmaWw=="/>
    </users>
  </usersSection>
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>