@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookmarks for Films and Series</h1>
    <p class="lead">
        Manage your favourite films and tv series on one single page. 
        Never forget at which episode of which season you have stoppend watching a tv series anymore.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Add links to the films and tv series you like. Define the site where you want to watch the film or serie.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get informed</h2>
        <p>
            Get informed when a new episode of a serie is available.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Start watching</h2>
        <p>
            Todo
        </p>
    </div>
</div>