@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookmarks for Films and Series</h1>
    <p class="lead">
        Manage your favourite films and tv series on one single page. 
        Never forget at which episode of which season you have stoppend watching a tv series anymore.
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Your Films</h2>

    </div>
</div>