body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui-state-highlight { height: 40px; line-height: 40px; }

.film {
    line-height: 40px;
}

.film:hover {
    background-color: #f1f1f1;
}

div.button {
    cursor: pointer;
}

.film-part {
    margin-left: 20px;
}

.btn.film-part {
    margin-left: 10px;
}

.film-part-edit {
    margin-left: 5px;
}

.add-film {
    margin-top: 60px;
}

.left, .film-part, .film-part-edit {
    float: left;
}

.width-m {
    width: 200px;
}

.width-s {
    width: 80px;
}

.film-view .url {
    width: 200px;
}

.film-view .id {
    width: 20px;
}

.film-view .stream {
    width: 190px;
}

.film-view .indicator {
    margin-top: 6px;
    width: 10px;
    height: 30px;
    background-color: #88df64;
}

.film-view .sort {
    cursor: move;
    margin-left: 3px;
    margin-top: 4px;float: left;
    min-width: 5px;
    min-height: 1px;
}

.film-view .sort img {
    display: none;
}

.film:hover > .film-view .sort img {
    display: block;
}

.film:hover > .film-view .sort-empty {
    display: none;
}