body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.film {
    line-height: 30px;
}

div.button {
    cursor: pointer;
}

.film-part {
    margin-left: 20px;
}

.btn.film-part {
    margin-left: 10px;
}

.film-part-edit {
    margin-left: 5px;
}

.add-film {
    margin-top: 60px;
}

.left, .film-part, .film-part-edit {
    float: left;
}

.width-m {
    width: 200px;
}

.width-s {
    width: 80px;
}